{% extends "base.html" %}
<!--
{% block content %}
    <h1>File Not Found</h1>
    <p><a href="{{url_for('index')}}">Back</a></p>
{% endblock %}
-->
{% block app_content %}
    <h1>{{ _('File not found') }}</h1>
    <p><a href="{{ url_for('index') }}">{{ _('Back') }}</a></p>
{% endblock %}
