{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{%   block content %}
    <h1>{{ _('Reset Password') }}</h1>
    <!--
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;>[{{ error }}]"</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }}</p>
      </form>
      -->
      <div class="row">
        <div class="col-md-4">
          {{ wtf.quick_form(form) }}
        </div>
      </div>

  {% endblock %}
